body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  counter-reset: score;
}

input:checked {
  counter-increment: score;
}

.score::after {
  content: counter(score);
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background: #ccefff;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 12px rgb(0, 0, 0, 0.22);
  overflow: hidden;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  height: 50px;
  margin: 0;
  position: relative;
  top: 0;
  width: 80px;
  z-index: 2;
}

input[type="checkbox"]:focus {
  appearance: none;
  outline: none;
}

@keyframes bunny {
  0% {
    top: 0;
  }
  25% {
    top: 80px;
  }
  100% {
    top: 0;
  }
}

@keyframes layer {
  0% {
    bottom: 0;
  }

  25% {
    bottom: -80px;
  }

  100% {
    bottom: 0;
  }
}
.layer-1 {
  position: absolute;
  height: 450px;
  width: 80px;
  bottom: 0;
  right: 60px;
  animation-name: layer;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-1 input[type="checkbox"] {
  animation-name: bunny;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-2 {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  bottom: 0;
  left: 60px;
  animation-name: layer;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-2 input[type="checkbox"] {
  animation-name: bunny;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-3 {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  width: 220px;
  height: 400px;
  background: #bc7556;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 12px rgb(0, 0, 0, 0.22);
  bottom: 0;
}

.layer-4 {
  position: absolute;
  z-index: 4;
  height: 360px;
  width: 80px;
  bottom: 0;
  left: 20px;
  animation-name: layer;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-4 input[type="checkbox"] {
  animation-name: bunny;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-5 {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 90px;
  margin: auto;
  height: 310px;
  background: #bc7556;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 12px rgb(0, 0, 0, 0.22);
  bottom: 0;
}

.layer-6 {
  position: absolute;
  z-index: 6;
  height: 250px;
  width: 80px;
  bottom: 0;
  right: 30px;
  animation-name: layer;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-6 input[type="checkbox"] {
  animation-name: bunny;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-7 {
  position: absolute;
  z-index: 7;
  left: 140px;
  right: 0;
  margin: auto;
  height: 200px;
  background: #bc7556;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 12px rgb(0, 0, 0, 0.22);
  bottom: 0;
}

.layer-8 {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  height: 120px;
  bottom: 0;
}

.layer-9 {
  position: absolute;
  z-index: 9;
  width: 120px;
  height: 100px;
  bottom: 0;
}

.layer-10 {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 120px;
  height: 100px;
  bottom: 0;
}

.left-ear--outer {
  background: white;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
}

.left-ear--inner {
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 8px;
}

.right-ear--outer {
  background: white;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  right: 10px;
}

.right-ear--inner {
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.head {
  background: white;
  border-radius: 50%;
  height: 80px;
  width: 100%;
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
  position: absolute;
}

.head_eye {
  background: gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    height: 15px;
  }

  5% {
    transform: translate(0px, 2px);
    height: 1px;
  }

  10% {
    height: 15px;
    transform: translate(0px, 0px);
  }
}

.head_eye--left {
  left: 20px;
}

.head_eye--left--small {
  background: #ffffff;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 2px;
  left: 8px;
}

.head_eye--right {
  right: 20px;
}

.grass {
  background: #69a56a;
  height: 20px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.grass_green {
  background: linear-gradient(135deg, #69a56a 25%, transparent 25%) -50px 0,
    linear-gradient(-135deg, #69a56a 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, #bc7556 25%, transparent 25%),
    linear-gradient(-45deg, transparent 25%, #a55b3f 25%);
  background-size: 33px 30px;
  height: 30px;
  width: 100%;
}

.cloud-behind-center {
  background: #69a56a;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  left: 60px;
  position: absolute;
  width: 80px;
}

.cloud-behind-left {
  background: #69a56a;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 70%;
  left: 0;
  position: absolute;
  width: 80px;
}

.cloud-behind-right {
  background: #69a56a;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 80%;
  left: 130px;
  position: absolute;
  width: 80px;
}

.cloud-left-1 {
  background: white;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 80px;
}

.cloud-left-2 {
  background: white;
  border-radius: 0 40px 30px 0;
  bottom: 0;
  display: inline-block;
  height: 60%;
  left: 80px;
  position: absolute;
  width: 40px;
}

.cloud-right-1 {
  background: white;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  height: 100%;
  right: 0px;
  position: absolute;
  width: 80px;
}

.cloud-right-2 {
  background: white;
  border-radius: 40px 0 0 30px;
  bottom: 0;
  display: inline-block;
  height: 60%;
  right: 80px;
  position: absolute;
  width: 40px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 45px 0 10px;
  font-family: "Black And White Picture", sans-serif;
  color: #bf624c;
}

.score {
  color: #bf624c;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
