body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background: #ccefff;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 12px rgb(0, 0, 0, 0.22);
}

.layer-1 {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 80px;
  bottom: 0;
  right: 60px;
}

.layer-2 {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  bottom: 0;
  left: 60px;
}

.layer-3 {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  width: 220px;
  height: 400px;
  background: wheat;
  bottom: 0;
}

.layer-4 {
  position: absolute;
  z-index: 4;
  height: 360px;
  width: 80px;
  bottom: 0;
  left: 20px;
}

.layer-5 {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 90px;
  margin: auto;
  height: 310px;
  background: pink;
  bottom: 0;
}

.layer-6 {
  position: absolute;
  z-index: 6;
  height: 250px;
  width: 80px;
  bottom: 0;
  right: 30px;
}

.layer-7 {
  position: absolute;
  z-index: 7;
  left: 140px;
  right: 0;
  margin: auto;
  height: 200px;
  background: wheat;
  bottom: 0;
}

.layer-8 {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 170px;
  height: 120px;
  background: white;
  bottom: 0;
}

.layer-9 {
  position: absolute;
  z-index: 9;
  left: 0;
  width: 90px;
  height: 90px;
  background: wheat;
  border-bottom-left-radius: 30px;
  bottom: 0;
}

.layer-10 {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 90px;
  height: 90px;
  background: pink;
  border-bottom-right-radius: 30px;
  bottom: 0;
}

.left-ear--outer {
  background: white;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
}

.left-ear--inner {
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 8px;
}

.right-ear--outer {
  background: white;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  right: 10px;
}

.right-ear--inner {
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.head {
  background: white;
  border-radius: 50%;
  height: 80px;
  width: 100%;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  position: absolute;
}

.head_eye {
  background: gray;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 15px;
}

.head_eye--left {
  left: 30px;
}

.head_eye--right {
  right: 30px;
}

.herb {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  height: 30px;
  background: linear-gradient(135deg, teal 25%, transparent 25%) -50px 0,
    linear-gradient(-135deg, teal 25%, transparent 25%) -50px 0;
  background-size: 35px 50px;
}
